/* clear floats */
.clear {
    clear:both;
}

div[id*="royal"] .inside {
    overflow: hidden;
    margin: 0 !important;
    padding: 15px !important;
}

.rf_mbx_left {
    box-sizing: border-box;
    display: block;
    width: 20%;
    float: left;
    font-weight: bold;
    clear: both;
    color: #777;
}

.rf_mbx_right {
    width: 80%;
    float: left;
    margin-bottom: 20px;
}

div[id*="royal"] .inside .rf_mbx_right:last-child {
    margin-bottom: 0 !important;
}

.royal-upload-btn {
    margin-top: 7px !important;
}

#rf_portfolio_items_from {
    margin: 0 !important;
}

/* hide metaboxes */
div[id*="post_meta_box"] {
    display: none;
}

/* margins */
div[class^="royal-"] {
    display: none;
    margin-top: 20px;
}

/* allowed html */
.allowed-html {
    float: right;
    line-height: 20px;
    font-style: italic;
    color: #999;
}

/* 2nd featured image */
#set-2nd-thumbnail,
#remove-2nd-thumbnail,
#second_featured_img_id {
    display: none;
}

#wrap-2nd-featured-img img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}


/*
***************************************************************
* #Gallery
***************************************************************
*/

/* input fields */
#rf_gallery_img_ids,
#rf_gallery_imgs_src {
    display: none;
}

label[for="rf_gallery_type"] {
    line-height: 42px;
}

.gallery-wrap {
    padding-top: 30px;
    overflow: hidden;
}

.gallery-image {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #0074A2;
    border-radius: 3px;
    cursor: move;
}

.ui-state-highlight {
    border: 2px dashed #ccc;
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 18px;
}

.gallery-wrap img {
    width: 150px;
    height: 150px;
    display: block;
}

/* delete img icon */
.remove {
    display: block;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 25px;
    height: 25px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 22px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
    box-shadow: 1px 1px 2px #0074A2;
    -moz-user-select:none;
    user-select:none;
}

.remove:hover {
    background-color: #111;
    color: #0074A2;
}

.editlink {
    position: absolute;
    top: -9px;
    right: 16px;
    width: 40px;
    height: 25px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #2EA2CC;
    color: #eee;
    text-decoration: none;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
    box-shadow: 1px 1px 2px #0074A2;
}

.editlink:hover {
    background-color: #0774a2;
    color: #fff;
}

#rf_gallery_imgs_upload {
    margin-right: 20px;
}


